<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
		
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel cc_coactivo search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN CC_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CC_ID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CC_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="CC_ID" data-fieldname="CC_ID" >


	<label class="r-search-label control-label" for="{$labelfor_CC_ID}">
		{$label cc_coactivo CC_ID }	</label>
	<div class="r-search-option">
		{$searchtype_CC_ID}
	</div>
	<div class="r-search-field">
		{$CC_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$CC_ID_editcontrol1}
	</div>
	
</div>

{END CC_ID_fieldblock}
											
{BEGIN EXPEDIENTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_EXPEDIENTE}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="EXPEDIENTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="EXPEDIENTE" data-fieldname="EXPEDIENTE" >


	<label class="r-search-label control-label" for="{$labelfor_EXPEDIENTE}">
		{$label cc_coactivo EXPEDIENTE }	</label>
	<div class="r-search-option">
		{$searchtype_EXPEDIENTE}
	</div>
	<div class="r-search-field">
		{$EXPEDIENTE_editcontrol}	</div>
	<div class="r-search-field">
		{$EXPEDIENTE_editcontrol1}
	</div>
	
</div>

{END EXPEDIENTE_fieldblock}
											
{BEGIN DV_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DV}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DV{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="DV" data-fieldname="DV" >


	<label class="r-search-label control-label" for="{$labelfor_DV}">
		{$label cc_coactivo DV }	</label>
	<div class="r-search-option">
		{$searchtype_DV}
	</div>
	<div class="r-search-field">
		{$DV_editcontrol}	</div>
	<div class="r-search-field">
		{$DV_editcontrol1}
	</div>
	
</div>

{END DV_fieldblock}
											
{BEGIN NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO" data-fieldname="NOMBRE DE EMPRESA EN EXPEDIENTE DE COBRO COACTIVO" >


	<label class="r-search-label control-label" for="{$labelfor_NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO}">
		{$label cc_coactivo NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO }	</label>
	<div class="r-search-option">
		{$searchtype_NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO}
	</div>
	<div class="r-search-field">
		{$NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO_editcontrol}	</div>
	<div class="r-search-field">
		{$NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO_editcontrol1}
	</div>
	
</div>

{END NOMBRE_DE_EMPRESA_EN_EXPEDIENTE_DE_COBRO_COACTIVO_fieldblock}
											
{BEGIN CIUDAD_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CIUDAD}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CIUDAD{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="CIUDAD" data-fieldname="CIUDAD" >


	<label class="r-search-label control-label" for="{$labelfor_CIUDAD}">
		{$label cc_coactivo CIUDAD }	</label>
	<div class="r-search-option">
		{$searchtype_CIUDAD}
	</div>
	<div class="r-search-field">
		{$CIUDAD_editcontrol}	</div>
	<div class="r-search-field">
		{$CIUDAD_editcontrol1}
	</div>
	
</div>

{END CIUDAD_fieldblock}
											
{BEGIN DIRECCION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DIRECCION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DIRECCION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="DIRECCION" data-fieldname="DIRECCION" >


	<label class="r-search-label control-label" for="{$labelfor_DIRECCION}">
		{$label cc_coactivo DIRECCION }	</label>
	<div class="r-search-option">
		{$searchtype_DIRECCION}
	</div>
	<div class="r-search-field">
		{$DIRECCION_editcontrol}	</div>
	<div class="r-search-field">
		{$DIRECCION_editcontrol1}
	</div>
	
</div>

{END DIRECCION_fieldblock}
											
{BEGIN CLASE_SANCION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CLASE_SANCION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CLASE_SANCION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="CLASE_SANCION" data-fieldname="CLASE_SANCION" >


	<label class="r-search-label control-label" for="{$labelfor_CLASE_SANCION}">
		{$label cc_coactivo CLASE_SANCION }	</label>
	<div class="r-search-option">
		{$searchtype_CLASE_SANCION}
	</div>
	<div class="r-search-field">
		{$CLASE_SANCION_editcontrol}	</div>
	<div class="r-search-field">
		{$CLASE_SANCION_editcontrol1}
	</div>
	
</div>

{END CLASE_SANCION_fieldblock}
											
{BEGIN REMITENTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_REMITENTE}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="REMITENTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="REMITENTE" data-fieldname="REMITENTE" >


	<label class="r-search-label control-label" for="{$labelfor_REMITENTE}">
		{$label cc_coactivo REMITENTE }	</label>
	<div class="r-search-option">
		{$searchtype_REMITENTE}
	</div>
	<div class="r-search-field">
		{$REMITENTE_editcontrol}	</div>
	<div class="r-search-field">
		{$REMITENTE_editcontrol1}
	</div>
	
</div>

{END REMITENTE_fieldblock}
											
{BEGIN ESTADO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ESTADO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ESTADO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="ESTADO" data-fieldname="ESTADO" >


	<label class="r-search-label control-label" for="{$labelfor_ESTADO}">
		{$label cc_coactivo ESTADO }	</label>
	<div class="r-search-option">
		{$searchtype_ESTADO}
	</div>
	<div class="r-search-field">
		{$ESTADO_editcontrol}	</div>
	<div class="r-search-field">
		{$ESTADO_editcontrol1}
	</div>
	
</div>

{END ESTADO_fieldblock}
											
{BEGIN ABOGADO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ABOGADO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ABOGADO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="ABOGADO" data-fieldname="ABOGADO" >


	<label class="r-search-label control-label" for="{$labelfor_ABOGADO}">
		{$label cc_coactivo ABOGADO }	</label>
	<div class="r-search-option">
		{$searchtype_ABOGADO}
	</div>
	<div class="r-search-field">
		{$ABOGADO_editcontrol}	</div>
	<div class="r-search-field">
		{$ABOGADO_editcontrol1}
	</div>
	
</div>

{END ABOGADO_fieldblock}
											
{BEGIN DIAS_FALTANTES_PARA_PRESCRIBIR_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DIAS_FALTANTES_PARA_PRESCRIBIR}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DIAS_FALTANTES_PARA_PRESCRIBIR{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="DIAS_FALTANTES_PARA_PRESCRIBIR" data-fieldname="DIAS FALTANTES PARA PRESCRIBIR" >


	<label class="r-search-label control-label" for="{$labelfor_DIAS_FALTANTES_PARA_PRESCRIBIR}">
		{$label cc_coactivo DIAS_FALTANTES_PARA_PRESCRIBIR }	</label>
	<div class="r-search-option">
		{$searchtype_DIAS_FALTANTES_PARA_PRESCRIBIR}
	</div>
	<div class="r-search-field">
		{$DIAS_FALTANTES_PARA_PRESCRIBIR_editcontrol}	</div>
	<div class="r-search-field">
		{$DIAS_FALTANTES_PARA_PRESCRIBIR_editcontrol1}
	</div>
	
</div>

{END DIAS_FALTANTES_PARA_PRESCRIBIR_fieldblock}
											
{BEGIN TIEMPO_PRES_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIEMPO_PRES}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="TIEMPO_PRES{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="TIEMPO_PRES" data-fieldname="TIEMPO_PRES" >


	<label class="r-search-label control-label" for="{$labelfor_TIEMPO_PRES}">
		{$label cc_coactivo TIEMPO_PRES }	</label>
	<div class="r-search-option">
		{$searchtype_TIEMPO_PRES}
	</div>
	<div class="r-search-field">
		{$TIEMPO_PRES_editcontrol}	</div>
	<div class="r-search-field">
		{$TIEMPO_PRES_editcontrol1}
	</div>
	
</div>

{END TIEMPO_PRES_fieldblock}
											
{BEGIN OBS_PROC_PAG_SN_EXTRC_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBS_PROC_PAG_SN_EXTRC}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="OBS_PROC_PAG_SN_EXTRC{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="OBS_PROC_PAG_SN_EXTRC" data-fieldname="OBS_PROC_PAG_SN_EXTRC" >


	<label class="r-search-label control-label" for="{$labelfor_OBS_PROC_PAG_SN_EXTRC}">
		{$label cc_coactivo OBS_PROC_PAG_SN_EXTRC }	</label>
	<div class="r-search-option">
		{$searchtype_OBS_PROC_PAG_SN_EXTRC}
	</div>
	<div class="r-search-field">
		{$OBS_PROC_PAG_SN_EXTRC_editcontrol}	</div>
	<div class="r-search-field">
		{$OBS_PROC_PAG_SN_EXTRC_editcontrol1}
	</div>
	
</div>

{END OBS_PROC_PAG_SN_EXTRC_fieldblock}
											
{BEGIN NIT_CEDULA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NIT_CEDULA}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="NIT_CEDULA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="NIT_CEDULA" data-fieldname="NIT_CEDULA" >


	<label class="r-search-label control-label" for="{$labelfor_NIT_CEDULA}">
		{$label cc_coactivo NIT_CEDULA }	</label>
	<div class="r-search-option">
		{$searchtype_NIT_CEDULA}
	</div>
	<div class="r-search-field">
		{$NIT_CEDULA_editcontrol}	</div>
	<div class="r-search-field">
		{$NIT_CEDULA_editcontrol1}
	</div>
	
</div>

{END NIT_CEDULA_fieldblock}
											
{BEGIN NOMBRE_RAZON_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NOMBRE_RAZON}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="NOMBRE_RAZON{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="NOMBRE_RAZON" data-fieldname="NOMBRE_RAZON" >


	<label class="r-search-label control-label" for="{$labelfor_NOMBRE_RAZON}">
		{$label cc_coactivo NOMBRE_RAZON }	</label>
	<div class="r-search-option">
		{$searchtype_NOMBRE_RAZON}
	</div>
	<div class="r-search-field">
		{$NOMBRE_RAZON_editcontrol}	</div>
	<div class="r-search-field">
		{$NOMBRE_RAZON_editcontrol1}
	</div>
	
</div>

{END NOMBRE_RAZON_fieldblock}
											
{BEGIN RESOLUCION_SANCION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RESOLUCION_SANCION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RESOLUCION_SANCION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="RESOLUCION_SANCION" data-fieldname="RESOLUCION_SANCION" >


	<label class="r-search-label control-label" for="{$labelfor_RESOLUCION_SANCION}">
		{$label cc_coactivo RESOLUCION_SANCION }	</label>
	<div class="r-search-option">
		{$searchtype_RESOLUCION_SANCION}
	</div>
	<div class="r-search-field">
		{$RESOLUCION_SANCION_editcontrol}	</div>
	<div class="r-search-field">
		{$RESOLUCION_SANCION_editcontrol1}
	</div>
	
</div>

{END RESOLUCION_SANCION_fieldblock}
											
{BEGIN FECHA__RESOLUCION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA__RESOLUCION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHA__RESOLUCION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="FECHA__RESOLUCION" data-fieldname="FECHA _RESOLUCION" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA__RESOLUCION}">
		{$label cc_coactivo FECHA__RESOLUCION }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA__RESOLUCION}
	</div>
	<div class="r-search-field">
		{$FECHA__RESOLUCION_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA__RESOLUCION_editcontrol1}
	</div>
	
</div>

{END FECHA__RESOLUCION_fieldblock}
											
{BEGIN VALOR_SANCION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_VALOR_SANCION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="VALOR_SANCION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="VALOR_SANCION" data-fieldname="VALOR_SANCION" >


	<label class="r-search-label control-label" for="{$labelfor_VALOR_SANCION}">
		{$label cc_coactivo VALOR_SANCION }	</label>
	<div class="r-search-option">
		{$searchtype_VALOR_SANCION}
	</div>
	<div class="r-search-field">
		{$VALOR_SANCION_editcontrol}	</div>
	<div class="r-search-field">
		{$VALOR_SANCION_editcontrol1}
	</div>
	
</div>

{END VALOR_SANCION_fieldblock}
											
{BEGIN RECAUDADO_CONSIGNACIONES_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RECAUDADO_CONSIGNACIONES}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RECAUDADO_CONSIGNACIONES{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="RECAUDADO_CONSIGNACIONES" data-fieldname="RECAUDADO_CONSIGNACIONES" >


	<label class="r-search-label control-label" for="{$labelfor_RECAUDADO_CONSIGNACIONES}">
		{$label cc_coactivo RECAUDADO_CONSIGNACIONES }	</label>
	<div class="r-search-option">
		{$searchtype_RECAUDADO_CONSIGNACIONES}
	</div>
	<div class="r-search-field">
		{$RECAUDADO_CONSIGNACIONES_editcontrol}	</div>
	<div class="r-search-field">
		{$RECAUDADO_CONSIGNACIONES_editcontrol1}
	</div>
	
</div>

{END RECAUDADO_CONSIGNACIONES_fieldblock}
											
{BEGIN RECAUDADO_TITULOS_JUDICIALES_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RECAUDADO_TITULOS_JUDICIALES}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RECAUDADO_TITULOS_JUDICIALES{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="RECAUDADO_TITULOS_JUDICIALES" data-fieldname="RECAUDADO_TITULOS_JUDICIALES" >


	<label class="r-search-label control-label" for="{$labelfor_RECAUDADO_TITULOS_JUDICIALES}">
		{$label cc_coactivo RECAUDADO_TITULOS_JUDICIALES }	</label>
	<div class="r-search-option">
		{$searchtype_RECAUDADO_TITULOS_JUDICIALES}
	</div>
	<div class="r-search-field">
		{$RECAUDADO_TITULOS_JUDICIALES_editcontrol}	</div>
	<div class="r-search-field">
		{$RECAUDADO_TITULOS_JUDICIALES_editcontrol1}
	</div>
	
</div>

{END RECAUDADO_TITULOS_JUDICIALES_fieldblock}
											
{BEGIN FECHA_EJECUTORIA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA_EJECUTORIA}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHA_EJECUTORIA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="FECHA_EJECUTORIA" data-fieldname="FECHA_EJECUTORIA" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA_EJECUTORIA}">
		{$label cc_coactivo FECHA_EJECUTORIA }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA_EJECUTORIA}
	</div>
	<div class="r-search-field">
		{$FECHA_EJECUTORIA_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA_EJECUTORIA_editcontrol1}
	</div>
	
</div>

{END FECHA_EJECUTORIA_fieldblock}
											
{BEGIN FECHA_MANDAMIENTO_PAGO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA_MANDAMIENTO_PAGO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHA_MANDAMIENTO_PAGO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="FECHA_MANDAMIENTO_PAGO" data-fieldname="FECHA_MANDAMIENTO_PAGO" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA_MANDAMIENTO_PAGO}">
		{$label cc_coactivo FECHA_MANDAMIENTO_PAGO }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA_MANDAMIENTO_PAGO}
	</div>
	<div class="r-search-field">
		{$FECHA_MANDAMIENTO_PAGO_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA_MANDAMIENTO_PAGO_editcontrol1}
	</div>
	
</div>

{END FECHA_MANDAMIENTO_PAGO_fieldblock}
											
{BEGIN FECHA_NOTIFICACION_MANDAMIENTO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA_NOTIFICACION_MANDAMIENTO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHA_NOTIFICACION_MANDAMIENTO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="FECHA_NOTIFICACION_MANDAMIENTO" data-fieldname="FECHA_NOTIFICACION_MANDAMIENTO" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA_NOTIFICACION_MANDAMIENTO}">
		{$label cc_coactivo FECHA_NOTIFICACION_MANDAMIENTO }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA_NOTIFICACION_MANDAMIENTO}
	</div>
	<div class="r-search-field">
		{$FECHA_NOTIFICACION_MANDAMIENTO_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA_NOTIFICACION_MANDAMIENTO_editcontrol1}
	</div>
	
</div>

{END FECHA_NOTIFICACION_MANDAMIENTO_fieldblock}
											
{BEGIN ULTMA_ACTUACION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ULTMA_ACTUACION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ULTMA_ACTUACION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="ULTMA_ACTUACION" data-fieldname="ULTMA_ACTUACION" >


	<label class="r-search-label control-label" for="{$labelfor_ULTMA_ACTUACION}">
		{$label cc_coactivo ULTMA_ACTUACION }	</label>
	<div class="r-search-option">
		{$searchtype_ULTMA_ACTUACION}
	</div>
	<div class="r-search-field">
		{$ULTMA_ACTUACION_editcontrol}	</div>
	<div class="r-search-field">
		{$ULTMA_ACTUACION_editcontrol1}
	</div>
	
</div>

{END ULTMA_ACTUACION_fieldblock}
											
{BEGIN AUTO_CANCELACION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_AUTO_CANCELACION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="AUTO_CANCELACION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="AUTO_CANCELACION" data-fieldname="AUTO_CANCELACION" >


	<label class="r-search-label control-label" for="{$labelfor_AUTO_CANCELACION}">
		{$label cc_coactivo AUTO_CANCELACION }	</label>
	<div class="r-search-option">
		{$searchtype_AUTO_CANCELACION}
	</div>
	<div class="r-search-field">
		{$AUTO_CANCELACION_editcontrol}	</div>
	<div class="r-search-field">
		{$AUTO_CANCELACION_editcontrol1}
	</div>
	
</div>

{END AUTO_CANCELACION_fieldblock}
											
{BEGIN FECHA_PRESCRIPCION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA_PRESCRIPCION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHA_PRESCRIPCION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="FECHA_PRESCRIPCION" data-fieldname="FECHA_PRESCRIPCION" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA_PRESCRIPCION}">
		{$label cc_coactivo FECHA_PRESCRIPCION }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA_PRESCRIPCION}
	</div>
	<div class="r-search-field">
		{$FECHA_PRESCRIPCION_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA_PRESCRIPCION_editcontrol1}
	</div>
	
</div>

{END FECHA_PRESCRIPCION_fieldblock}
											
{BEGIN ULTIMA_ACTUACION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ULTIMA_ACTUACION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ULTIMA_ACTUACION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="ULTIMA_ACTUACION" data-fieldname="ULTIMA_ACTUACION" >


	<label class="r-search-label control-label" for="{$labelfor_ULTIMA_ACTUACION}">
		{$label cc_coactivo ULTIMA_ACTUACION }	</label>
	<div class="r-search-option">
		{$searchtype_ULTIMA_ACTUACION}
	</div>
	<div class="r-search-field">
		{$ULTIMA_ACTUACION_editcontrol}	</div>
	<div class="r-search-field">
		{$ULTIMA_ACTUACION_editcontrol1}
	</div>
	
</div>

{END ULTIMA_ACTUACION_fieldblock}
											
{BEGIN COMENTARIO_UA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_COMENTARIO_UA}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="COMENTARIO_UA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="COMENTARIO_UA" data-fieldname="COMENTARIO_UA" >


	<label class="r-search-label control-label" for="{$labelfor_COMENTARIO_UA}">
		{$label cc_coactivo COMENTARIO_UA }	</label>
	<div class="r-search-option">
		{$searchtype_COMENTARIO_UA}
	</div>
	<div class="r-search-field">
		{$COMENTARIO_UA_editcontrol}	</div>
	<div class="r-search-field">
		{$COMENTARIO_UA_editcontrol1}
	</div>
	
</div>

{END COMENTARIO_UA_fieldblock}
											
{BEGIN ACUERDO_PAGO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ACUERDO_PAGO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ACUERDO_PAGO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="ACUERDO_PAGO" data-fieldname="ACUERDO_PAGO" >


	<label class="r-search-label control-label" for="{$labelfor_ACUERDO_PAGO}">
		{$label cc_coactivo ACUERDO_PAGO }	</label>
	<div class="r-search-option">
		{$searchtype_ACUERDO_PAGO}
	</div>
	<div class="r-search-field">
		{$ACUERDO_PAGO_editcontrol}	</div>
	<div class="r-search-field">
		{$ACUERDO_PAGO_editcontrol1}
	</div>
	
</div>

{END ACUERDO_PAGO_fieldblock}
											
{BEGIN FECHA_ACTUACION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA_ACTUACION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHA_ACTUACION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="FECHA_ACTUACION" data-fieldname="FECHA_ACTUACION" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA_ACTUACION}">
		{$label cc_coactivo FECHA_ACTUACION }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA_ACTUACION}
	</div>
	<div class="r-search-field">
		{$FECHA_ACTUACION_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA_ACTUACION_editcontrol1}
	</div>
	
</div>

{END FECHA_ACTUACION_fieldblock}
											
{BEGIN FECHA_PROX_ACTUACION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA_PROX_ACTUACION}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHA_PROX_ACTUACION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="FECHA_PROX_ACTUACION" data-fieldname="FECHA_PROX_ACTUACION" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA_PROX_ACTUACION}">
		{$label cc_coactivo FECHA_PROX_ACTUACION }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA_PROX_ACTUACION}
	</div>
	<div class="r-search-field">
		{$FECHA_PROX_ACTUACION_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA_PROX_ACTUACION_editcontrol1}
	</div>
	
</div>

{END FECHA_PROX_ACTUACION_fieldblock}
											
{BEGIN ABOGADO_RESP_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ABOGADO_RESP}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ABOGADO_RESP{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="ABOGADO_RESP" data-fieldname="ABOGADO_RESP" >


	<label class="r-search-label control-label" for="{$labelfor_ABOGADO_RESP}">
		{$label cc_coactivo ABOGADO_RESP }	</label>
	<div class="r-search-option">
		{$searchtype_ABOGADO_RESP}
	</div>
	<div class="r-search-field">
		{$ABOGADO_RESP_editcontrol}	</div>
	<div class="r-search-field">
		{$ABOGADO_RESP_editcontrol1}
	</div>
	
</div>

{END ABOGADO_RESP_fieldblock}
											
{BEGIN EXPEDIENTEREL_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_EXPEDIENTEREL}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="EXPEDIENTEREL{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="EXPEDIENTEREL" data-fieldname="EXPEDIENTEREL" >


	<label class="r-search-label control-label" for="{$labelfor_EXPEDIENTEREL}">
		{$label cc_coactivo EXPEDIENTEREL }	</label>
	<div class="r-search-option">
		{$searchtype_EXPEDIENTEREL}
	</div>
	<div class="r-search-field">
		{$EXPEDIENTEREL_editcontrol}	</div>
	<div class="r-search-field">
		{$EXPEDIENTEREL_editcontrol1}
	</div>
	
</div>

{END EXPEDIENTEREL_fieldblock}
											
{BEGIN TIPODOCUMENTO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIPODOCUMENTO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="TIPODOCUMENTO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="TIPODOCUMENTO" data-fieldname="TIPODOCUMENTO" >


	<label class="r-search-label control-label" for="{$labelfor_TIPODOCUMENTO}">
		{$label cc_coactivo TIPODOCUMENTO }	</label>
	<div class="r-search-option">
		{$searchtype_TIPODOCUMENTO}
	</div>
	<div class="r-search-field">
		{$TIPODOCUMENTO_editcontrol}	</div>
	<div class="r-search-field">
		{$TIPODOCUMENTO_editcontrol1}
	</div>
	
</div>

{END TIPODOCUMENTO_fieldblock}
											
{BEGIN CARACTER_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CARACTER}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CARACTER{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="CARACTER" data-fieldname="CARACTER" >


	<label class="r-search-label control-label" for="{$labelfor_CARACTER}">
		{$label cc_coactivo CARACTER }	</label>
	<div class="r-search-option">
		{$searchtype_CARACTER}
	</div>
	<div class="r-search-field">
		{$CARACTER_editcontrol}	</div>
	<div class="r-search-field">
		{$CARACTER_editcontrol1}
	</div>
	
</div>

{END CARACTER_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
